<!-- image around computer and computer -->
<div class="object-padding">
  <div class="line-left"></div>
  <div class="circle"></div>
  <img src="../../../assets/computer.png" alt="computer" class="computer-image">
  <div class="line-right"></div>
</div>

<!-- login form and headers with button -->
<div class="text-center">
  <h3 class="request-text ">REQUEST A DEMO</h3>
  <p class="paragraph-text">Provide your email and we will get back to you soon!</p>
  <div class="input-padding">
    <input class="form-control" type="email" placeholder="Email">
    <div class="button-padding">
      <button class="btn w-50 gradient submit-button-text">
        SUBMIT <i class="pl-2 fa fa-angle-right"></i>
      </button>
    </div>
  </div>
</div>

