.center {
    margin: 0;
    float: none;
}

.transparent {
    color: rgba(26, 247, 125, 0.418)
}

.login-text {
    font-family: 'Lato', sans-serif;
    color: rgb(93, 128, 231);
    padding-bottom: 5%;
    padding-left: 15%;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.noBorder {
    background: none;
    border: none;
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
    outline: none;
    outline-offset: -400px;
    transition: border-color .15s;
}

.noBorder:focus {
    background: none;
    border: none;
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
    outline: none;
    outline-offset: -400px;
    transition: border-color .15s;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.no-right-border {
    border-right: none;
}

.hr-small{
    padding-right: 0px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding-left: 0px;
    margin-left: 10px;
    background-color: rgb(197, 210, 245);
}

.padding {
    padding: 20% 20% 20% 20%;
}