<!-- background -->
<div class="container-fluid">
  <img src="../../../assets/bluebackground.png" alt="background" class="col-md-12 background-image">
  <img src="../../../assets/pattern.png" alt="pattern" class="col-md-12 pattern-image">
  <img src="../../../assets/upanddown.png" alt="lessleft" class="upanddown-image">
  <img src="../../../assets/smallerone.png" alt="left" class="up-image">
  <img src="../../../assets/nolologo.png" alt="logo" class="img-responsive nolo-logo">
  
  <div class="text-center discription-text-padding">
    <h6 class="desciption-header-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu ornare lorem.
      Aenean blandit dui feugiat
      ligula luctus, vel mattis ante laoreet.</h6>
      
      <br>
      <p class="description-text">Vestibulum egestas molestie nisl, ac malesuada odio ullamcorper sed. Sed faucibus
        efficitur nunc, id bibendum
        libero consequat id. Cras libero dolor, tempus a leo quis, dictum laoreet nulla. Nulla vitae sapien aliquet,
        tincidunt lorem et, luctus orci. Proin vitae nisi auctor, facilisis lorem non, feugiat lacus. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
      </p>
      
    </div>
    <div class="mo-padding">
      <div class="white-background">
          <img src="../../../assets/canvas.png" alt="logo" class="small-back">
          <img src="../../../assets/projector.png" alt="logo" class="small-back projector">
        <h5 class="status">SYSTEM STATUS</h5>
        <p class="text-left description-bottom-text">Vestibulum egestas molestie nisl, ac malesuada odio ullamcorper
          sed. Sed faucibus
          efficitur nunc, id bibendum
          libero consequat id. Cras libero dolor, tempus a leo quis, dictum laoreet nulla.
        </p>
        
    </div>
  </div>
</div>