.background-image {
    position: absolute;
    top: 10px;
    left: 0px;
    height: 100%;
    z-index: -2;
}

.pattern-image {
    position: absolute;
    opacity: 0.5;
    top: 10px;
    left: 0px;
    height: 80%;
    z-index: -1;
}

.upanddown-image {
    position: absolute;
    top: 10px;
    left: 0px;
    height: 100%;
    z-index: 0;
}

.up-image {
    position: absolute;
    top: 10px;
    left: 0px;
    width:3.5%;
    height: 100%;
    z-index: 1;
}

.nolo-logo {
    z-index: 2;
    padding-left: 30%;
    padding-top: 8%;
}

.discription-text-padding {
    color: white;  
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%; 
    
}

.description-text {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.desciption-header-text {
    font-family: 'Lato', sans-serif;
}

.white-background {
    background-color: white;
    border: white 1px solid;
    border-radius: 5px;
}

.description-bottom-text {
    padding-right: 32%;
    padding-left: 5%;
    padding-top: 0%;
}

.mo-padding {
    padding: 10% 5% 5% 5%;
}

.status {
    padding-left: 5%;
    padding-top: 2%;
    color: rgb(76, 115, 227);
}

.small-back {
    position: absolute;
    left: 67%;
    top: 64%;
}

.projector {
    padding-left: 5%;
    padding-top: 3%;
}